<!--<ul><li>{{nombre}}</li></ul> -->
<div class="card-content">
    <div class="card-img">
        <img alt="" src="https://placeimg.com/380/230/nature">
            <span>
                <h4>
                    {{ destino.nombre }}
                </h4>
            </span>
    </div>
    <div class="card-desc">
        <h3>
        	{{ destino.nombre }}
        </h3>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo,  perspiciatis voluptas totam
        </p>
        <a class="btn-card" href="#">
            Read
        </a>
    </div>
</div>
