<div class="container content">
  <div class="row">
    <h1>
      {{  title  }}
    </h1>
  </div>

  <!-- <app-destino-viaje></app-destino-viaje> -->
  <app-lista-destinos></app-lista-destinos>
</div>